


.example-card {
  max-width: 500px;
  transition: 0.3s ease-in-out;
  padding: 30px;
  margin: 10px;
}

.example-card:hover {
  max-width: 1000px;
  transition: 0.3s ease-in-out;
  transform: scale(1.12);
}


/*
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}










.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 600ms;
  transition-timing-function: ease-out;
  height: auto;
  width: 100%;
  opacity: .5;
}
.card img{
  transform: scale(1,1);
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  height: auto;
  width: 100%;
}
.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}
.card-img-wrapper:hover .member-icons{
  bottom: 0;
  opacity: 1;
}
.animate{
  transition: all 0.3s ease-in-out;
}


*/
